video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.home-container {
    height: calc(100vh-80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2) ;
    object-fit: contain;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-container > h1 {
    color: white;
    font-size: 100px;
  
}
.home-container > p {
    margin-top: 8px;
    margin-bottom: 20px;
    color: white;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width:960px){
    .home-container > h1 {
        font-size: 70px;
        text-align: center;
        
    }
}

@media screen and (max-width:768px){
    .home-container > h1 {
        font-size: 50px;
        text-align: center;
        
    }
}