
    .neon-container{
        margin: 0;
        padding-right: 100px;
        padding-left: 100px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92vh;
        background: #050801;
        flex-wrap: wrap;
        
    
    }
    .neon-container>a{
        flex: 20%;
        padding: 25px 60px 25px 60px;
        margin: 0 40px 0 40px; 
        font-family: cursive;
        text-decoration: none;
        transition: 0.5s;
        letter-spacing: 4px;
        text-align: center;
        
        
    }


@media screen and (max-width:768px){
    .neon-container{
        margin: 0;
        padding: 0;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction:column ;
        background: #050801;
    
    }
    .neon-container>a{
        position: relative;
        display: inline-block;
        padding: 25px 30px;
        margin: 40px 0;
        font-family: cursive;
        text-decoration: none;
        transition: 0.5s;
        letter-spacing: 4px;
    }
    
}








/* .neon-container{
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction:column ;
    background: #050801;

}
.neon-container>a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    font-family: cursive;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 4px;
} */
a.react:hover {
    background-color:#03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #61DAFB,0 0 25px #61DAFB,0 0 50px #61DAFB,0 0 200px #61DAFB
}
.react {
    color: #61DAFB;
}
a.js:hover {
    background-color:#EFD81C;
    color: #050801;
    box-shadow: 0 0 5px #EFD81C,0 0 25px #EFD81C,0 0 50px #EFD81C,0 0 200px #EFD81C
}
.js {
    color: #EFD81C;
}
a.PHP:hover {
    background-color:#7377AD;
    color: #050801;
    box-shadow: 0 0 5px #7377AD,0 0 25px #7377AD,0 0 50px #7377AD,0 0 200px #7377AD
}
.PHP {
    color: #7377AD;
}

a.css:hover {
    background-color:#3595CF;
    color: #050801;
    box-shadow: 0 0 5px #3595CF,0 0 25px #3595CF,0 0 50px #3595CF,0 0 200px #3595CF
}
.css {
    color: #3595CF;
}
a.node:hover {
    background-color:#68A063;
    color: #050801;
    box-shadow: 0 0 5px #68A063,0 0 25px #68A063,0 0 50px #68A063,0 0 200px #68A063
}
.node {
    color: #68A063;
}
a.redux:hover {
    background-color:#7247B5;
    color: #050801;
    box-shadow: 0 0 5px #7247B5,0 0 25px #7247B5,0 0 50px #7247B5,0 0 200px #7247B5
}
.redux {
    color: #7247B5;
}
a.jQuery:hover {
    background-color:#1067A9;
    color: #050801;
    box-shadow: 0 0 5px #1067A9,0 0 25px #1067A9,0 0 50px #1067A9,0 0 200px #1067A9
}
.jQuery {
    color: #1067A9;
}
a.html:hover {
    background-color:#E96228;
    color: #050801;
    box-shadow: 0 0 5px #E96228,0 0 25px #E96228,0 0 50px #E96228,0 0 200px #E96228
}
.html {
    color: #E96228;
}
a.express:hover {
    background-color:#F5F5F5;
    color: #050801;
    box-shadow: 0 0 5px #9b9592,0 0 25px #F5F5F5,0 0 50px #F5F5F5,0 0 200px #F5F5F5
}
.express {
    color: #F5F5F5;
}
a.mysql:hover {
    background-color:#015C87;
    color: #050801;
    box-shadow: 0 0 5px #015C87,0 0 25px #015C87,0 0 50px #015C87,0 0 200px #015C87
}
.mysql {
    color: #015C87;
}

a.mongo:hover {
    background-color:#89C46F;
    color: #050801;
    box-shadow: 0 0 5px #89C46F,0 0 25px #89C46F,0 0 50px #89C46F,0 0 200px #89C46F
}
.mongo {
    color: #89C46F;
}

a.leng:hover {
    background-color:#89C46F;
    color: #050801;
    box-shadow: 0 0 5px #89C46F,0 0 25px #89C46F,0 0 50px #89C46F,0 0 200px #89C46F;
 
    
}
.leng {
    color: #89C46F;
}


